<div class="navbar navbar-expand-large navbar-dark bg-primary" >
    <a [routerLink]=" ['/'] ">

        <img src="../../../assets/img.png" width="30" height="30" alt="" >
            LCO git hub Finder App

    </a>

    <div class="navbar-collapse">
        <div class="navbar-nav ml-auto">
            <div *ngIf="email" class="navbar-text float-left">

                {{email}}
            </div>
            <a class="nav-item nav-link" [routerLink]=" ['/'] ">Home</a>
            <a *ngIf="!email" class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]=" ['/signin'] ">Sign In</a>
            <a *ngIf="!email" class="nav-item nav-link"
            routerLinkActive="active"
            
            [routerLink]=" ['/signup'] ">Sign Up</a>
            <a *ngIf="email" class="nav-item nav-link" (click)="handleSignOut()">Log Out</a>

        </div>
    </div>
</div>